@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
$primary-color: #333;
$secondary-color: #ddd;
$headlines-color: #a2a;
$main-background: #fff;
$body: #9131ff;
$border: #831bfa;
$progress: #a0a;
$inactivebg: #e0e0e0;
$behind-rotate: #000;
$rotate-circle: #ff00b3;
$font-size: 15px;
$font-family: 'Poppins', sans-serif;
$font-color: #333;
$sidebar:  #555;


@mixin transition($propery) {   
        -webkit-transition: $propery;
        -moz-transition: $propery;
        -o-transition: $propery;
        transition: $propery;    
}

@mixin base-btn($color){
    border: none;
    padding: 10px 30px;
    background: $color;
    border-radius: 20px;
    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    cursor: pointer;

    &:focus{
        outline: none;
    }
}
// ********      Games Layout     *************//
$game-body: #fff;
$game-font-color: #5a5a5a;
$game-headline-font:'Play', sans-serif;
$game-font-family: 'Roboto', sans-serif;
$game-base-color: #ed145b;
$game-font: 'Megrim', cursive; 
$game-light-color: #fff;
$game-footer-background: #2d2d2d;
$game-gray-container: #f4f4f4;
$game-inactive-btn: #f4f4f4;
$game-inactive-border: #f1f1f1;

%flex-column{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}


%flex-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
