@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$primary-color: #333;
$secondary-color: #ddd;
$headlines-color: #a2a;
$main-background: #fff;
$body: #9131ff;
$border: #831bfa;
$progress: #a0a;
$inactivebg: #e0e0e0;
$behind-rotate: #000;
$rotate-circle: #ff00b3;
$font-size: 15px;
$font-family: 'Poppins', sans-serif;
$font-color: #333;

@mixin error-box{
    border: 1px solid red;
    background-color: #a11;
    color: #fff;
}

@mixin transition($propery) {   
        -webkit-transition: $propery;
        -moz-transition: $propery;
        -o-transition: $propery;
        transition: $propery;    
}
